#darkMode{
    background: transparent url("../components/image/moon.png") no-repeat center;
    background-size: 30px 30px;
    width: 45px;
    height: 45px;
    margin-top: 5px;
    filter: grayscale(100%);
    border: none;
    border-radius: 50%;
    transition: background-color .3s ease-in-out, filter .3s ease-in-out;
}

#darkMode:hover,
#darkMode:focus{
    filter:none;
    cursor: pointer;
    background-color: white;
}

#darkMode.clicked{
    filter: none !important;
    background-color: white;
}