:root {
  --dark-blue: #2c2c54;
  --white: #f5f6fa;
  --black: #2C3A47;
  --gray: #bdc3c7;
}

body.light{
  --background-color: var(--white);
  --text-color: var(--dark-blue);
}

body.dark{
  --background-color: var(--dark-blue);
  --text-color: var(--white);
}

nav a{
  text-decoration: none;
  color: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: none !important;
}

body {
  position: relative;
  background-color: var(--white);
  background-image: url('./img/search.svg') !important;
  background-repeat: no-repeat !important;
  background-position: bottom !important;
  background-attachment: fixed !important;
  background-size: 35% !important;
  font-family: 'Kanit', sans-serif;

  background: var(--background-color);
  color: var(--text-color);
  transition: background-color .3s ease-in-out, color .6s ease-in-out;
}

#cursor{
  position: absolute;
  width: 20px;
  height: 20px;
  box-sizing: border-box;
  background-color: var(--gray);
  border-radius: 50%;
  transition: .3s;
  transform: translate(0%, 0%);
  pointer-events: none;
  z-index: 999;
}

#cursor1{
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: var(--gray);
  border-radius: 50%;
  transition: .1s;
  transform: translate(-50%, -50%);
  pointer-events: none;
  z-index: 999;
}